<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
    <div id="landing">


        <img
                src="https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExbjRranp6emRsOHdsYWxnOHZpY2dyaDgyejdmMjVnZ2p0Y2RwM2FyMCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/5UvzpgvjAYHB2OwZfE/giphy.gif"
                />
        <div id="landing-content">
            {{- partial "header.html" . -}}
            <section id="posts-container">
                <ul>
                    {{ range .Site.RegularPages.ByPublishDate.Reverse }}
                    <li class="post">
                        <a href="{{ .Permalink }}">
                            {{ .Title }}
                            <br />
                            <time>{{ .Date.Format (.Site.Params.dateform | default "2006-01-02") }}</time>
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </section>
            {{- partial "footer.html" . -}}
    </div>

    <script src="{{ relURL `p5/p5.min.js` }}"></script>
    <script src="{{ relURL `js/genart.js` }}"></script>
</body>

</html>
